@font-face {
   font-family: 'expo-brand-bold';
   src: url('MaisonNeue-Bold.woff') format('woff');
}

@font-face {
   font-family: expo-brand-book;
   src: url('MaisonNeue-Book.woff') format('woff');
}

@font-face {
   font-family: expo-brand-demi;
   src: url('MaisonNeue-Demi.woff') format('woff');
}

html {
   font-family: expo-brand-book, sans-serif;
}